{% extends 'admin/base.html.twig' %}
{% block mainadmin %}


<style>



button {
	border-radius: 20px;
  background-color: #5a50e5;
    border-color: #4f45e3;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}



form {
	background-color: #FFFFFF;
	align-items: left;
	justify-content: left;
	flex-direction: column;
  color: #8c92a0;
	height: 100%;
	text-align: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding:20px;
  font-size:16px;

}
textarea {
    color:darkblue;
    margin:10px;
    
}

select {
    color:darkblue;
    margin:10px;

}

input {
	background-color: #eee;
	border: none;
	padding: 15px 20px;
	width: 100%;
    align-items: left;
	justify-content: left;
}
.btn-primary:hover {
    color: #fff;
    background-color: #5a50e5;
    border-color: #4f45e3;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}


  
</style>      
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black">Add Course</h2>
        </div>
        <div class="col-md-7">

           


           {{ form_start (courseForm) }}
           <div class="row">
                <div class="col-lg-12">
                    <label for="name">Course main name<span>*</span></label>
                    {{ form_widget (courseForm.namecourse) }}
                </div>
                
                <div class="col-lg-12"
                    <label for="description">Short Description<span>*</span></label>
                    {{ form_widget (courseForm.shortDesc)  }}
                </div>

                <div class="col-lg-12"
                    <label for="description">Long Description<span>*</span></label>                
                    {{ form_widget (courseForm.description)  }}
                </div> 

                <div class="col-lg-12"
                    <label for="Price per hour">Price per hour<span>*</span></label> 
                    {{ form_widget (courseForm.priceActualHour) }}
                 </div>

                 <div class="col-lg-12"
                    <label for="Price per hour without TVA">Price per hour without TVA</label> 
                    {{ form_widget (courseForm.priceActualHourSansTVA) }}
                </div>

                <div class="col-lg-12"
                    <label for="Price per hour">Long Description<span>*</span></label> 
                    {{ form_widget (courseForm.approach) }}
                </div>  

                <div class="col-lg-12"
                     <label for="language">Language<span>*</span></label>        
                    {{ form_widget (courseForm.language) }}
                </div> 

                <div class="col-lg-12"
                    <label for="level">Level<span>*</span></label> 
                    {{ form_widget (courseForm.level) }}
                </div>   
                
                <div class="col-lg-12"
                    <label for="coursephohto">Course photo upload</label>               
                    {{ form_widget (courseForm.coursePhoto) }}
                </div>  
      
                            <div class="col-lg-12">
                                <div class="create-item">
                                    <button class="btn">Register</button>
                                   
                                </div>
                           
            {{ form_end (courseForm) }}
        </div>
   
    </div>

  </div>
</div>
</div>
 

{% endblock %}
