{% extends 'admin/base.html.twig' %}
{% block mainadmin %}

<h2>My profile </h2>
<div class="containerProfile">
    <div class="profile-bio">

        <p>Hello<span style="color:#7971ea; font-weight:bold;"  class="profile-real-name"> {{profil.firstname}}  {{profil.lastname}} !</span> Great to see you again!</p>

    </div>
    <div class="profile">

        <div class="profile-image">

            <img style="width: 250px; height:250px;" src="{{ asset('/files/' ~ profil.photo)}}" alt="Profile picture">

        </div>

        <div class="profile-user-settings">

            <h2  class="profile-user-name">Firstname: <span style="color:#7971ea; font-weight:bold;" > {{profil.firstname}}  </span></h2>
            <h2 class="profile-user-surname"> Lastname: <span style="color:#7971ea; font-weight:bold;" > {{profil.lastname}}  </span></h2>
            <h2 class="profile-user-skype">Telephone: <span style="color:#7971ea; font-weight:bold;" > {{profil.telephone}}  </span></h2>
            <h2 class="profile-user-skype">Skype: <span style="color:#7971ea; font-weight:bold;" > {{profil.skype}}  </span></h2>
        </div>

    

      

    </div>
    <!-- End of profile section -->

</div>

{% endblock %}
