{% extends 'base.html.twig' %}



{% block content %}

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0">
        <a href="{{ path ('index') }}">Home</a> 
        <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong>
      </div>
    </div>
  </div>
</div>
<!-- bg_light_area_end -->

<div class="site-section border-bottom" data-aos="fade">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <div class="block-16">
          <figure>
            <img src="{{ asset ('assets/images/online.jpg') }}"  alt="Image placeholder" class="img-fluid rounded">
           <!-- <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span class="ion-md-play"></span></a>-->

          </figure>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        
        
        <div class="site-section-heading pt-3 mb-4">
          <h2 class="text-black">Our mission</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat, dicta at laboriosam, nemo exercitationem itaque eveniet architecto cumque, deleniti commodi molestias repellendus quos sequi hic fugiat asperiores illum. Atque, in, fuga excepturi corrupti error corporis aliquam unde nostrum quas.</p>
        <p>Accusantium dolor ratione maiores est deleniti nihil? Dignissimos est, sunt nulla illum autem in, quibusdam cumque recusandae, laudantium minima repellendus.</p>
        
      </div>
    </div>
  </div>
</div>

<div class="site-section border-bottom" data-aos="fade">
  <div class="container">
    <div id="team" class="row justify-content-center mb-5">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Our Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">

        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{{ asset ('assets/images/person_1.jpg') }}" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Elizabeth Graham</h3>
              <p class="block-38-subheading">English Courses</p>
            </div>
            <div class="block-38-body">
              <p>Elizabeth really cares about the students and wants to see them do their very best. Passionate  teachers are  distinguished  by  their  commitment  to  achievement  of  their  students.  </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{{ asset ('assets/images/person_2.jpg') }}"alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Jennifer Greive</h3>
              <p class="block-38-subheading">Dutch Courses</p>
            </div>
            <div class="block-38-body">
              <p>She is a devoted teacher. She spends most of her time teaching and taking care of her students. For her, passion  is  a  motivational  factor that  affects  teacher  performance. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{{ asset ('assets/images/person_3.jpg') }}"alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Patrick Marx</h3>
              <p class="block-38-subheading">French Courses</p>
            </div>
            <div class="block-38-body">
              <p>Patrick is a very enthusiastic teacher. He really makes learning fun. His strength is making every student comfortable in sharing their feelings and emotions. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="block-38 text-center">
          <div class="block-38-img">
            <div class="block-38-header">
              <img src="{{ asset ('assets/images/person_4.jpg') }}" alt="Image placeholder" class="mb-4">
              <h3 class="block-38-heading h4">Mike Coolbert</h3>
              <p class="block-38-subheading">Administration</p>
            </div>
            <div class="block-38-body">
              <p>Mike is our administrative assistant and our IT support administrator who will help you to fix a technical problem and provide some help desk support.  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
  <div class="container">
    <div id="level" class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
            <h2 style="padding-bottom:25px">Your level</h2>
          </div>
        </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
        <div class="icon mr-4 align-self-start">
          <span class="icon-refresh"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Beginner</h2>
          <p>Level A1 and A2 is presented by primary foreign language speakers. They are able to communicate in everyday life using common phrases and basic vocabulary.</p>
          
          <ul>
            
            <li>Elementary A1</li>
            <li>Elementary A2</li>
         
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
        <div class="icon mr-4 align-self-start">
          <span class="icon-thumbs-up"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Intermediate</h2>
          <p>Level B1 is presented by people who speak a foreign language at an intermediate level. They shall be able to communicate easily with native speakers of the foreign language concerned. </p>
          <ul>
            <li>Pre-Intermediate B1.1</li>
            <li>Pre-Intermediate B1.2</li>
            <li>Intermediate B1.3</li>
            <li>Intermediate B1.4</li>
         
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
        <div class="icon mr-4 align-self-start">
          <span class="icon-coffee"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Advanced</h2>
          <p>Level B2 is presented by people who speak a foreign language at an intermediate level. They shall be able to communicate freely with native speakers of the foreign language concerned.</p>
          <p>Level C1 is presented by people who are fluent in a foreign language. They are able to perform complex tasks related to work and studies.</p>
          <ul>
            <li>Upper-Intermediate B2.1</li>
            <li>Upper-Intermediate B2.2</li>
            <li>Advanced C1</li>
            <li>Proficient C2</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}