<h1>New contact</h1>
<p>Firstname : {{contact.firstname}}</p>
<p>Lastname : {{contact.lastname}}</p>
<p>Email : {{contact.email}}</p>
<p>Subject: {{contact.subject}}</p>
<p>Message : {{contact.message |raw}}</p>